<mostrariconoespera></mostrariconoespera>

<div class="panel panel-primary drop-shadow" style="width:65%;height:auto;  margin-left:17%; margin-top:5%">
  <div class="panel-heading"><h>AVAL</h></div>
  <div id="toolbargrupo">
    <h2>GRUPOS</h2>
  </div>
  <div id="toolbarsemillero">
    <h2>SEMILLEROS</h2>
  </div>

  <div class="row" style="margin:10px">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <table id="tablegrupo" init-tablagrupo="optionsGrupo"></table>
    </div>
  </div>    

   <div class="row" style="margin:10px">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <table id="tablesemillero" init-tablasemillero="optionsSemillero"></table>
    </div>
  </div>   

  <div class="row" style="margin:10px">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <button class="btn btn-primary btn-sm" ng-click="onButtonAceptar()">Aceptar</button>
       <button class="btn btn-primary btn-sm" ng-click="onClicSalir()">Salir</button>
    </div>
  </div>   


</div>