<mostrariconoespera></mostrariconoespera>

<div class="panel panel-primary drop-shadow" style="width:65%;height:auto;  margin-left:17%; margin-top:5%">
  <div class="panel-heading"><h>AVAL</h></div>
   <tabset active="active">
    <tab  index="0">
        <tab-heading>
          <i class="glyphicon glyphicon-info-sign"></i> GRUPOS 
        </tab-heading>  

    </tab>
    <tab  index="1">
        <tab-heading>
          <i class="glyphicon glyphicon-info-sign"></i> SEMILLEROS 
        </tab-heading>  
    </tab>
</tabset>
</div>