<mostrariconoespera></mostrariconoespera>
<div class="container margenTop">

    


 <div role="form"  ng-form="myForm" novalidate="">
<div class="panel panel-primary  drop-shadow" style="width:100%;height:100%;  margin-left:0%; margin-top:2%">



<div class="panel-heading"><h>Editando Grupo</h></div>
  
  
  

  <div class="panel-body">

 <tabset>

 <tab active="tabInformacion"> 

	 <tab-heading>

        <i class="glyphicon glyphicon-user"></i> INFORMACIÓN DEL GRUPO DE INVESTIGACIÓN

      </tab-heading>

 <div class="row" style="margin-top:20px">

 <div class="col-md-6">

    

  <div class="panel panel-info">

    <div class="panel-heading">Información del Director de Grupo</div>

    <div class="panel-body">

      <div class="row">

        <div class="col-md-2">

          <span class="label label-info" style="font-size:12px">Nombres</span>    

        </div>      

      <div class="col-md-4">

          <label>{{NombreInvestigador}}</label>

      </div>

        <div class="col-md-2">

          <span class="label label-info" style="font-size:12px">Apellidos</span>  

        </div>  

        <div class="col-md-4">

          <label>{{ApellidoInvestigador}}</label>

      </div>

      </div>

      <div class="row" style="margin-top:5px">

          

        

      </div>

       <div class="row" style="margin-top:5px">

        <div class="col-md-2">

          <span class="label label-info" style="font-size:12px">Zona</span>  

        </div>      

        <div class="col-md-4">

          <label>{{ZonaInvestigador}}</label>         

      </div>

      <div class="col-md-2">

          <span class="label label-info" style="font-size:12px">Centro</span>  

        </div>      

        <div class="col-md-4">

          <label>{{CentroInvestigador}}</label>

      </div>

      </div>

<div class="row" style="margin-top:5px">

        <div class="col-md-2">

          <span class="label label-info" style="font-size:12px">Escuela</span>  

        </div>      

        <div class="col-md-4">

          <label>{{EscuelaInvestigador}}</label>

      </div>

      <div class="col-md-2">

          <span class="label label-info" style="font-size:12px">Programa</span>  

        </div>      

        <div class="col-md-4">

          <label>{{ProgramaInvestigador}}</label>

      </div>

      </div>

    </div>

  </div>



  </div>  

 	<div class="col-md-6">

	 <div class="row">

		  <div class="col-lg-7 col-md-7 col-xs-7 col-sm-7">       
        <div class="form-group">
            <label>Nombre del Grupo</label>
            <input class="form-control input-sm" ng-model="datos2[0].Grupo" name="nombreGrupo" ng-required="true"/>    
        </div>			
		</div>	

		<div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">     

          <div class="form-group"  ng-class="{'has-error': datepickerForm.date.$invalid}">
              <label>Fecha de Creación</label>
              <input id="FechaCreaGrupo" type="text" class="form-control input-sm" ng-model="datos2[0].Fecha" data-date-format="dd-MMMM-yyyy" date-type="iso"   data-max-date="today" data-autoclose="1" name="dateCreacionGrupo" bs-datepicker ng-required="true"/>    
        </div>    		
		</div>	
	</div>

  	

<div class="row">

    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">         
        <div class="form-group">
            <label>Código Colciencias</label>
             <input class="form-control input-sm" ng-model="datos2[0].gru_colc_codi" />
        </div>      
    </div>  

     <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">        

      <label>Categoría Colciencias</label>
       <input class="form-control input-sm" ng-model="datos2[0].gru_cate_colc" />

    </div>  

  </div>


<div class="row">

    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">        

      <label>Área</label>
       <select class="form-control input-sm" ng-model="datos2[0].selArea" ng-options="value1.ARE_CODI as value1.ARE_NOMB  for value1 in listArea | orderBy : 'ARE_NOMB'" ng-required="true"  ></select>

    </div>  

     <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">             

      <label>Centro</label>
       <select class="form-control input-sm" ng-model="datos2[0].selCentro" ng-options="value2.CEN_CODI as value2.CEN_NOMB  for value2 in listCentro | orderBy : 'CEN_NOMB'"  ng-required="true" ></select>

    </div>  

  </div>
 
<div class="row" style="margin-top:10px">

    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" >        

      <label>Avalado por la UNAD</label>
       <label class="radio-inline">
       <input type="radio" ng-model="datos2[0].gru_aval_inst" value='1' ng-disabled="true">SI
     </label>
     <label class="radio-inline">
      <input type="radio" ng-model="datos2[0].gru_aval_inst" value='0' ng-disabled="true">NO
     </label>

    </div>  
   

  </div>




  </div>



  

  </div>

  <div class="row"  style="margin-bottom:10px">

    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
         <div class="row">

              <div class="col-lg-9 col-md-9 col-xs-9 col-sm-9">

                <label>Líneas de Investigación</label>  

              </div>  

              <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2"> 

                <button type="button" title="Agregar Línea de Investigación" ng-click="OnClicAddLineaInvestigacion(valueLinea)" class="btn btn-success btn-sm">Nueva</button>       

              </div>  

          </div>
          <div class="row" style="margin-top:5px">

             <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                <ul  class="list-group">

                  <jqx-panel id="jqxPanel" jqx-settings="jqxPanelSettings" >


                   <!--  | filter :{FechaTermina: '!'} -->
                    <li class="list-group-item" ng-repeat="lineas in LineasInvestigacion " >
                        <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label>{{lineas.Nombre}}</label>
                        </div>
                      </div>  
                      <div class="row" style="margin-top:10px">
                        <div class="col-lg-5 col-md-5 col-xs-5 col-xs-5">
                          <div class="form-group">
                            <label>Fecha Inicio</label>
                             <jqx-date-time-input  ng-model="lineas.FechaInicia"  jqx-settings="dateInputSettings"></jqx-date-time-input>    
                          </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" >
                          <div class="form-inline">
                             
                                <label>Fecha Termina</label>    
                                 <div class="checkbox" ng-init="checkFechaTermina=(lineas.FechaTermina!=null)"> 
                                <input type="checkbox" ng-model="checkFechaTermina" ng-disabled="lineas.FechaTermina!=null"  ng-change="onChangeFechaTerminaInvestigacion(lineas,checkFechaTermina)"/>                      
                              </div>                                                                                                          
                           </div>                                                 
                            <jqx-date-time-input   ng-model="lineas.FechaTermina" ng-disabled="!checkFechaTermina || lineas.FechaTermina!=null"  jqx-settings="dateSettingslineasInvestigacion"> 
                          </jqx-date-time-input>                                                       
                                                
                        </div>                         
                      </div>                                     

                    </li>

                  </jqx-panel>                                               

                </ul>

            </div>

          </div>

    </div>
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
         <div class="row">

              <div class="col-lg-9 col-md-9 col-xs-9 col-sm-9">

              <label>Integrantes del Grupo</label>  

            </div>    

            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">

              <button type="button" title="Agregar Integrantes" ng-click="OnClicAddIntegrante(cmdInvestigador)" class="btn btn-success btn-sm">Nuevo</button>        

            </div>

          </div>
           <div class="row" style="margin-top:5px">

            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

              <ul class="list-group">

               <jqx-panel id="jqxPanel" jqx-settings="jqxPanelSettings" >

                  <li class="list-group-item" ng-repeat="investiga in Investigadores " >

                    <div class="row">

                      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                        <span class="">{{investiga.Nombre}}</span>

                      </div>                  

                     </div>    
                         <div class="row" style="margin-top:10px">
                        <div class="col-lg-5 col-md-5 col-xs-5 col-xs-5">
                          <div class="form-group">
                            <label>Fecha Inicio</label>
                               <jqx-date-time-input ng-model="investiga.FechaInicia" jqx-settings="dateInputSettings"></jqx-date-time-input>    
                          </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <div class="form-inline">
                             
                                <label>Fecha Termina</label>    
                                 <div class="checkbox" ng-init="checkFechaTerminaInvestiga=(investiga.FechaTermina!=null)"> 
                                <input type="checkbox" ng-model="checkFechaTerminaInvestiga" ng-disabled="investiga.FechaTermina!=null"  ng-change="onChangeFechaTerminaUsuario(investiga,this)" />                      
                              </div>                                                                                                          
                           </div>                                                 
                            <jqx-date-time-input   ng-model="investiga.FechaTermina" ng-disabled="!checkFechaTerminaInvestiga || investiga.FechaTermina!=null"  jqx-settings="dateInputSettings"> </jqx-date-time-input>                                                       
                                                
                        </div>                         
                      </div>                                            

                  </li>

                </jqx-panel>

              </ul>

            </div>

          </div>


    </div>
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
          <div class="row" >

             <div class="col-lg-9 col-md-9 col-xs-9 col-sm-9">

              <label>Semilleros del  Grupo</label>  

            </div>

           <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">   

                <button type="button" title="Agregar Semillero" ng-click="OnClicAddSemillero(cmdSemilla)" class="btn btn-success btn-sm">Nuevo</button>       

            </div> 

          </div>
           <div class="row" style="margin-top:5px">

            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

              <ul class="list-group">

               <jqx-panel id="jqxPanel" jqx-settings="jqxPanelSettings" >

                  <li class="list-group-item" ng-repeat="semilla in Semilleros " >

                    <div class="row">

                      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                         <span class="">{{semilla.Nombre}}</span>

                      </div>                  

                     </div>    
                         <div class="row" style="margin-top:10px">
                        <div class="col-lg-5 col-md-5 col-xs-5 col-xs-5">
                          <div class="form-group">
                            <label>Fecha Inicio</label>
                               <jqx-date-time-input ng-model="semilla.FechaInicia" jqx-settings="dateInputSettings"></jqx-date-time-input>    
                          </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <div class="form-inline">
                             
                                <label>Fecha Termina</label>    
                                 <div class="checkbox" ng-init="checkFechaTerminaSemilla=(semilla.FechaTermina!=null)"> 
                                <input type="checkbox" ng-model="checkFechaTerminaSemilla" ng-disabled="semilla.FechaTermina!=null" ng-change="onChangeFechaTerminaSemilla(semilla,this)" />                      
                              </div>                                                                                                          
                           </div>                                                 
                            <jqx-date-time-input   ng-model="semilla.FechaTermina" ng-disabled="!checkFechaTerminaSemilla || semilla.FechaTermina!=null"  jqx-settings="dateInputSettings"> </jqx-date-time-input>                                                       
                                                
                        </div>                         
                      </div>                                            

                  </li>

                </jqx-panel>

              </ul>

            </div>

          </div>         

    </div>

  </div> 


 </tab>

 <tab active="tabProduccion">

   <tab-heading>

        <i class="glyphicon glyphicon-th"></i> PRODUCIÓN DEL GRUPO DE INVESTIGACIÓN

      </tab-heading>

    <div class="row" style="margin-top:20px">

    <div class="col-md-4">

          <label>Investigador</label>

      </div>

      <div class="col-md-4">

          <label>Nombre del Proyecto</label>

      </div>

      <div class="col-md-4">

          <label>Productos</label>

      </div>      

    </div>   



     <div class="row" style="margin-top:5px">

       <div class="col-md-4">

            <select  class="form-control"  ng-options="value.Nombre  for value in Investigadores" ng-model="value" ng-change="OnChangeInvestigador(value)">              

            </select>

      </div>

       <div class="col-md-4">

            <select  class="form-control"  ng-options="valueProyecto.pro_nomb  for valueProyecto in listProyectos" ng-model="valueProyecto" ng-change="OnChangeProyecto(valueProyecto)" ></select>

      </div>

        <div class="col-md-4">

            <select  class="form-control"  ng-options="valueProducto.nombre for valueProducto in listProductos" ng-model="valueProducto"  ></select>

      </div>

     </div> 

      <div class="row">

      <div class="col-md-12 col-lg-12 col-xs-12">

          <button ng-click="addProyecto(valueProyecto,valueProducto)" class="btn btn-default"  style="margin-left: 20px; margin-top: 10px;background-color: rgb(239, 209, 230);font-size: 12px;font-weight: bold;color:#482CAE">Agregar</button>          

     </div>

    </div>

    <div class="row" style="margin-top:20px">

            <div class="col-md-12">

            

              <ul class="list-group">

                 <jqx-panel id="jqxPanel" jqx-settings="jqxPanelSettingsProyecto" >

                  <li class="list-group-item" ng-repeat="proyecto in Proyectos" >

                    <div class="row">

             <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">

               <label class="" style="color:blue;font-size:14px">Proyecto</label>

             </div>

             <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">

               <label class="" style="color:blue;font-size:14px">Producto</label>              

             </div>

            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">

               <label class="" style="color:blue;font-size:14px">Fecha Inicial</label>               

             </div>

                 <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">


               <label class="" style="color:blue;font-size:14px">Fecha Termina</label>               

             </div>


             <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">


               <label class="" style="color:red;font-size:14px">Eliminar</label>               

             </div>

            </div>

                    <div class="row">

                      <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">

                          <span class="">{{proyecto.NombreProyecto}}</span>

                      </div>

                       <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">

                          <span class="">{{proyecto.NombreProducto}}</span>

                      </div>

                      <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">

                          <jqx-date-time-input ng-model="proyecto.fech_ini" jqx-settings="dateInputSettings"></jqx-date-time-input>    

                      </div>   

                       <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">

                          <jqx-date-time-input ng-model="proyecto.fech_term" ng-show="(proyecto.fech_term!=null)" ng-disabled="true" jqx-settings="dateInputSettings"></jqx-date-time-input>    

                      </div>  

                      <div title="Eliminar {{proyecto.NombreProyecto}}" class="col-lg-2 col-md-2 col-xs-2 col-sm-2" ng-show="(proyecto.fech_term==null)">

                         <div style="cursor:hand" >

                             <jqx-button jqx-settings="jqxButtonsSettings"  ng-click="OnClicEliminarProyecto(proyecto,this)">  <i class="glyphicon glyphicon-ban-circle" style="cursor:pointer"  ></i> </jqx-button>                      

                          </div>                       

                      </div>

                    </div>                       

                  </li>

                </jqx-panel>

              </ul>

            </div>

          </div>

  </tab>



 <tab active="tabTrabajo">

   <tab-heading>

        <i class="glyphicon glyphicon-file"></i> PLAN DE TRABAJO DEL GRUPO

      </tab-heading>

      <div class="row" style="margin-top:20px">

         <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">

          <label>Documento</label>

         </div>

       <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">

            

        </div>

        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">

            <label>Nombre</label>

        </div> 

      </div>

      <div class="row" style="">

        <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">

            <span class="fileinput-button glyphicon glyphicon-file"  ng-class="{disabled:    disabled}" style="margin-left:20px"><input type="file" name="files" onchange="angular.element(this).scope().uploadFile(this) " accept="PDF/pdf"> 

          </span>    

        </div> 

        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">

            {{nameArch}}

        </div>        

         <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">

            <input id="nombrePlan" class="form-control" type="text" ng-model="nombrePlan" />

        </div>

         <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">

            <button class="btn  btn-success"  ng-click="OnClicAddPlan(nameArch,nombrePlan)">Adicionar a la lista</button>   

        </div>

      </div>

  

  

   <div class="row">

        <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">

        

     </div>

   </div>

      <div class="row" style="margin-top:20px">

            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

              <ul class="list-group">

                 <jqx-panel id="jqxPanel" jqx-settings="jqxPanelSettingsPlan" >

                  <li class="list-group-item" ng-repeat="plan in planTrabajo" >

                    <div class="row">

                      <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">

                        <label class="" style="color:blue;font-size:14px">Nombre</label>

                      </div>

                     

                   

                     <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">

                      <label class="" style="color:blue;font-size:14px">Fecha Inicio</label>

                     </div>

                       <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">

                      <label class="" style="color:blue;font-size:14px">Fecha Termina</label>

                     </div>

                     <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">

                      <label class="" style="color:blue;font-size:14px">Descargar</label>

                     </div>

                     <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">

                      <label class="" style="color:blue;font-size:14px">Eliminar</label>

                     </div>

                      </div>

                    <div class="row">

                      <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">

                          <span class="">{{plan.Nombre}}</span>

                      </div>

                        <div  ng-show="false">

                          <span class="">{{plan.Path}}</span>

                      </div>

                    <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">

                          <jqx-date-time-input ng-model="plan.FechaInicio" jqx-settings="dateInputSettings"></jqx-date-time-input>    

                      </div>   

                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">

                          <jqx-date-time-input ng-model="plan.FechaTermina"  jqx-settings="dateInputSettings"></jqx-date-time-input>    

                      </div>   
                      <div title="Descargar" class="col-lg-1 col-md-1 col-xs-1 col-sm-1"> 


                         <div style="cursor:hand" >

                             <jqx-button jqx-settings="jqxButtonsSettings"  ng-click="OnClicDescargarPlan(plan.Path,this)">  <i class="glyphicon glyphicon-eye-open" style="cursor:pointer"  ></i> </jqx-button>                      

                          </div>                       

                      </div>

                      <div title="Eliminar {{plan.Nombre}}" class="col-lg-1 col-md-1 col-xs-1 col-sm-1">

                         <div style="cursor:hand" >

                             <jqx-button jqx-settings="jqxButtonsSettings"  ng-click="OnClicEliminarPlan(plan,this)">  <i class="glyphicon glyphicon-ban-circle" style="cursor:pointer"  ></i> </jqx-button>                      

                          </div>                       

                      </div>

                       

                    </div>                       

                  </li>

                </jqx-panel>

              </ul>

            </div>

          </div>



  </tab>



 </tabset>

    <div class="row">

    <div class="col-md-offset-10" style="margin-bottom:10px;"> 



        <button  ng-click= "save(datos2[0])"  ng-disabled="myForm.$invalid"            

                class="btn btn-primary">Actualizar</button>

              

           



  <button  ng-click= "volver()"               

                class="btn btn-primary" >Salir</button>

  

</div>

</div>  

 </div>

 </div>

</div>

<!-- Modales -->

<jqx-window jqx-settings="jqxWindowSettings" class="drop-shadow" id="window">

            <div>

                {{titleEditar}}

            </div>

            <div>

                <div>

                <table>

                 <thead>

                <tr>

                  <th style="width:40%"></th>

                  <th style="width:30%"></th>

                  <th style="width:30%"></th>

                </tr>

                </thead>                                    

                  <tbody>

                    <tr style="height:15px"><td></td><td></td></tr>

                    <tr>

                      <td colspan="2"><label>{{tipoGrupo}}</label></td>

                    </tr>

                    <tr>                     

                      <td colspan="2">

                          <label ng-hide="hidelblNombre" style="font-weight:normal">{{Nombre}}</label>

                          <select id="cmdTipoGrupo" ng-hide="hideCmdTipoGrupo" class="form-control" ng-change="OnChangedCmdTipoGrupo()"  ng-options="value.Nombre for value in listTipoGrupo  | orderBy:'Nombre'" ng-model="selTipoGrupo" ></select>

                      </td>

                    </tr>

                    <tr ng-hide="hideVinculacion" style="height:15px" ><td></td></tr>

                    <tr ng-hide="hideVinculacion">

                      <td colspan="2"><label>Tipo vinculación</label></td>

                    </tr>

                    <tr ng-hide="hideVinculacion">

                      <td colspan="2">

                          <select  class="form-control"  ng-options="value.tiv_desc for value in tipoVinculacion" ng-model="selTipoVinculacion" ></select>

                       

                      </td>

                    </tr>

                      <tr style="height:15px" ><td colspan="2"></td></tr>

                    <tr>

                      <td><label>Fecha Inicio</label></td>

                      <td ng-hide="hideFechaTermina"><label>Fecha Termina</label></td>

                    </tr>     

                    <tr>

                      <td> 

                          <jqx-date-time-input id="jdFechaInicia" ng-click=" OnclickJdFechaInicia()" ng-model="FechaInicia" jqx-settings="dateInputSettings">

                          </jqx-date-time-input>

                      </td>

                      <td ng-hide="hideFechaTermina">

                        <jqx-date-time-input id="jdFechaTermina" ng-model="FechaTermina" ng-click="OnclickJdFechaTermina()" jqx-settings="dateInputSettings"></jqx-date-time-input>

                      </td>

                    </tr>                  

                  </tbody>

                </table>                  

               

                

                        

                    </div>

                    <div>

                    <div style="float: right; margin-top: 15px;">

                  

                        <button type="button" ng-click="Ok()"  style="font-size:12px" class="btn btn-primary">Guardar</button>

                      </div>  

                        <!-- <jqx-button jqx-on-click="" style="margin-right: 10px">Ok</jqx-button>

                        <jqx-button jqx-on-click="Cancel()">Cancel</jqx-button> -->

                  

                    </div>

            </div>

        </jqx-window>

    

</div>