
	<div class="view">
	  
		<div class="panel panel-primary  drop-shadow" style="min-width:auto;max-width:1400px;height:auto; margin-top:5%">
  		<div class="panel-heading"><h>{{tiTulo}}</h></div>
		  <form method="post" name="myFormSemillero" role="form" novalidate>
		  
		  		<div class="panel-body">
		  			
			    	<tabset>
 				    	<tab active="tabInformacion">
	      					<tab-heading>
	        					<i class="glyphicon glyphicon-list-alt"></i> Informaci&oacute;n General
	      					</tab-heading>							
							
							 <div class="well-lg">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-xs-12 col-ms-12">
									<div class="panel panel-info">
						  				<div class="panel-heading">
						    				<h6 class="panel-title"><label>Director del Semillero</label></h6>
						  				</div>
						  				<div class="panel-body">
						  					<fieldset disabled>	
						    				 <div class="row">
						    					<div class="col-lg-6 col-md-6 col-xs-12 col-ms-12">
						    						
														<div class="form-group">
    													<label for="disabledTextInput">Nombres</label>
      															<input type="text" id="disabledTextInput" class="form-control input-sm" />
  														</div>
												</div>
												<div class="col-lg-6 col-md-6 col-xs-12 col-ms-12">  														
  															<div class="form-group">
    															<label for="disabledTextInput">Apellidos</label>
      															<input type="text" id="disabledTextInput" class="form-control input-sm" />
  															</div>
													
													</div>
												</div>		
												 <div class="row">
						    					<div class="col-lg-6 col-md-6 col-xs-12 col-ms-12">
						    						
														<div class="form-group">
    													<label for="disabledTextInput">Zona</label>
      															<input type="text" id="disabledTextInput" class="form-control input-sm" />
  														</div>
												</div>
												<div class="col-lg-6 col-md-6 col-xs-12 col-ms-12">  														
  															<div class="form-group">
    															<label for="disabledTextInput">Centro</label>
      															<input type="text" id="disabledTextInput" class="form-control input-sm" />
  															</div>													
													</div>
												</div>							    												    				 <div class="row">
							    					<div class="col-lg-6 col-md-6 col-xs-12 col-ms-12">						    						
															<div class="form-group">
	    													<label for="disabledTextInput">Escuela</label>
	      															<input type="text" id="disabledTextInput" class="form-control input-sm" />
	  														</div>
													</div>
												<div class="col-lg-6 col-md-6 col-xs-12 col-ms-12">  														
  															<div class="form-group">
    															<label for="disabledTextInput">Programa</label>
      															<input type="text" id="disabledTextInput" class="form-control input-sm" />
  															</div>
													
													</div>
												</div>					
											 </fieldset>	
						    				</div>
						  				</div>
									</div>	
									<div class="col-lg-6 col-md-6 col-xs-12 col-ms-12">
									
									<div class="panel panel-info">
							  					<div class="panel-heading">
							    					<h3 class="panel-title"><label>Semillero de investigación</label></h3>
							  					</div>
							  				<div class="panel-body">
							    				<div class="row">
							    					<div class="col-lg-6 col-md-6 col-xs-12 col-ms-12">						    						
															<div class="form-group">
	    													<label for="disabledTextInput">Nombre</label>
	      															<input type="text" id="disabledTextInput" class="form-control input-sm" />
	  														</div>
													</div>
												<div class="col-lg-6 col-md-6 col-xs-12 col-ms-12">  														
  															<div class="form-group">
    															<label for="disabledTextInput">Fecha Creación</label>
      															 <input id="fechaInicioProyecto" type="text" class="form-control input-sm" ng-model="fechaInicioProyecto" data-date-format="dd-MMMM-yyyy" date-type="iso" data-max-date="{{fechaHoy}}"  data-autoclose="1" name="date2" bs-datepicker>     
  															</div>
													
													</div>
												</div>	
												<div class="row">
							    					<div class="col-lg-12 col-md-12 col-xs-12 col-ms-12">						    						
															<div class="form-group">
	    													<label for="disabledTextInput">Misión</label>
	      															<input type="text" id="disabledTextInput" class="form-control input-sm" />
	  														</div>
													</div>
												</div>	
												<div class="row">												
													<div class="col-lg-12 col-md-12 col-xs-12 col-ms-12">  														
  															<div class="form-group">
    															<label for="disabledTextInput">Visión</label>
      															<input type="text" id="disabledTextInput" class="form-control input-sm" />
  															</div>
													
													</div>
												</div>									
							  				</div>
									</div>		

									</div>	
								</div>	
								
								<div class="row">

									<div class="col-lg-12 col-md-12 col-xs-12 col-ms-12">  														
										<div class="form-group">
										<label for="disabledTextInput">Objetivos</label>
											<input type="text" id="disabledTextInput" class="form-control input-sm" />
										</div>
													
									</div>

								</div>	
								<div class="row">

									<div class="col-lg-12 col-md-12 col-xs-12 col-ms-12">  														
										<div class="form-group">
										<label for="disabledTextInput">Proyecci&oacute;n Regional</label>
											<input type="text" id="disabledTextInput" class="form-control input-sm" />
										</div>
													
									</div>

								</div>	
								<div class="row">

									<div class="col-lg-12 col-md-12 col-xs-12 col-ms-12">  														
										<div class="form-group">
										<label for="disabledTextInput">Temáticas de Investigacion</label>
											<input type="text" id="disabledTextInput" class="form-control input-sm" />
										</div>
													
									</div>

								</div>	

							</div>								
							
						
  						</tab>  						
  						<tab active="tabRelaciones">
	      					<tab-heading>
	        					<i class="glyphicon glyphicon-resize-small"></i> Relaciones 
	      					</tab-heading>
							

							<div class="well-lg">
								<div class="row">
									<div class="col-lg-4 col-md-4 col-xs-12 col-ms-12">
										<div class="form-group">
    										<label for="exampleInputEmail1">Líneas de investigación</label>
    											 <select class="form-control input-sm"  ng-model="selLineas"  
                            							ng-options="opt.IdGrupo as opt.NombreGrupo for opt in grupoinvestigacion " >

                        						</select> 
  										</div>
  										 <ul class="list-group">
                 								<jqx-panel id="jqxPanel" jqx-settings="jqxPanelSettings">
                  									<li class="list-group-item" ng-repeat="item in ['Nombre','Nombre2']">
                  										   <span>{{item}}</span>
													</li>
												</jqx-panel>

										</ul>															                  															
									</div>
									<div class="col-lg-4 col-md-4 col-xs-12 col-ms-12">
										<div class="form-group">
    										<label for="exampleInputEmail1">Integrantes del semillero</label>
    										<select class="form-control input-sm"  ng-model="selLineas"  
                            							ng-options="opt.IdGrupo as opt.NombreGrupo for opt in grupoinvestigacion " >

                        						</select> 
  										</div>
  										<ul class="list-group">
                 								<jqx-panel id="jqxPanel" jqx-settings="jqxPanelSettings">
                  									<li class="list-group-item" ng-repeat="item in ['Nombre','Nombre2']">
                  										   <span>{{item}}</span>
													</li>
												</jqx-panel>

										</ul>			
									</div>
									<div class="col-lg-4 col-md-4 col-xs-12 col-ms-12">
										<div class="form-group">
    										<label for="exampleInputEmail1">Programas académicos semilleros</label>
    										<select class="form-control input-sm"  ng-model="selLineas"  
                            							ng-options="opt.IdGrupo as opt.NombreGrupo for opt in grupoinvestigacion " >

                        						</select> 
  										</div>
  										<ul class="list-group">
                 								<jqx-panel id="jqxPanel" jqx-settings="jqxPanelSettings">
                  									<li class="list-group-item" ng-repeat="item in ['Nombre','Nombre2']">
                  										   <span>{{item}}</span>
													</li>
												</jqx-panel>

										</ul>			
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-xs-12 col-ms-12">
										<div class="panel panel-info">
							  				<div class="panel-heading">
							    				<h3 class="panel-title"><label>Estrategias del Semillero</label></h3>
							  					</div>
							  				<div class="panel-body">		
												<div class="row">
													<div class="col-lg-4 col-md-4 col-xs-12 col-ms-12">
														<div class="form-group">
															<label>Tipo de Estrategia</label>
															<select class="form-control input-sm" ng-options	="item as item.Nombre for item in 	listEstrategia">
															</select>
														</div>

													</div>
													<div class="col-lg-8 col-md-8 col-xs-12 col-ms-12">
														<div class="form-group">
															<label>Descripción Estrategia</label>
															<input class="form-control input-sm" ng-model="txtDescripcion"/>
															
														</div>

													</div>
												</div>
												<div class="row">
													<div class="col-lg-12 col-md-12 col-xs-12 col-ms-12">
														<ul class="list-group">
       														<jqx-panel id="jqxPanel" jqx-settings="jqxPanelSettings">
		                  									<li class="list-group-item" ng-repeat="item in ['Nombre','Nombre2']">
                										   <span>{{item}}</span>
															</li>
													</jqx-panel>
												</ul>		
												</div>
												</div>													
							  				</div>
										</div>								  				
									</div>					
									<div class="col-lg-6 col-md-6 col-xs-12 col-ms-12">
										<div class="panel panel-info">
							  				<div class="panel-heading">
							    				<h3 class="panel-title"><label>Visualización Grupos Semilleros</label></h3>
							  					</div>
							  				<div class="panel-body">		
												<div class="row">
													<div class="col-lg-4 col-md-4 col-xs-12 col-ms-12">														

													</div>
												</div>
							  				</div>
										</div>								  				
									</div>																		
								</div>
  							</div>
																									
  						</tab>
  						<tab active="tabProyectosProductos">
	      					<tab-heading>
	        					<i class="glyphicon glyphicon-cog"></i> Proyectos y Productos
	      					</tab-heading>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
									<div class="form-group">
										<h4><span class="label label-default">Nombre del Proyecto</span></h4>	
									<textarea class="form-control" row=2 style="resize:vertical"></textarea>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
									<div class="form-group">
										<h4><span class="label label-default">Productos asociados al proyecto</span></h4>	
									<textarea class="form-control" row=2 style="resize:vertical"></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
									<div class="form-group col-lg-4">
										<h4><span class="label label-default">Estado Proyecto</span></h4>	
										<select class="form-control input-sm" ng-model="selEstadoProyecto" ng-options="item as item.Nombre for item in listEstadoProyecto">																			
										</select>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
									<div class="form-group col-lg-4">
										<h4><span class="label label-default">Estado del Producto</span></h4>	
									<select class="form-control input-sm" ng-model="selEstadoProducto" ng-options="item as item.Nombre for item in listEstadoProducto">
																						
										</select>
									</div>
								</div>
							</div>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-xs-12 col-ms-12">
											<ul class="list-group">
       											<jqx-panel id="jqxPanel" jqx-settings="jqxPanelSettings">
		                  									<li class="list-group-item" ng-repeat="item in ['Nombre','Nombre2']">
                										   <span>{{item}}</span>
															</li>
												</jqx-panel>
											</ul>		
									</div>
								</div>													
  						</tab>
  						<tab active="tabDocumentos">
	      					<tab-heading>
	        					<i class="glyphicon glyphicon-paperclip"></i> Documentos
	      					</tab-heading>
								<div class="row" style="margin-top:20px">
									<div class="col-lg-3 col-md-3 col-xs-6 col-ms-6">
									<div class="panel panel-info">
							  				<div class="panel-heading">
							    				<h6 class="panel-title"></h6>
							  					</div>
							  				<div class="panel-body">		
												<div class="row">
													<div class="col-lg-12 col-md-12 col-xs-12 col-ms-12">											 <div class="form-group">
								            <label>Documento</label>    
								                <span class="fileinput-button glyphicon glyphicon-upload"  ng-class="{disabled:    disabled}" style="margin-left:20px"><input title="Cargar documento" type="file" name="files" onchange="angular.element(this).scope().uploadFileTexto(this) " accept="application/pdf, application/msword"> 
								               </span>    
								               <span title="Eliminar documento" ng-click="EliminarTexto()" class="glyphicon glyphicon-remove" style="cursor: pointer;"></span>
								               <div class="row">
								                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
								                  <a href="http://{{nombreLinkArchivoTexto}}" target="_blank"><span class="label label-danger" style="white-space:normal">{{nombreArchivoTexto}}</span></a>   
								                  </div>
								               </div>                              
     								    </div>			

													</div>
												</div>
												<div class="row">
													<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
															<div class="form-group">
										<label for="disabledTextInput">Nombre</label>
											<input type="text" id="disabledTextInput" class="form-control input-sm" />
										</div>


													</div>
												</div>
												<div class="row">
													<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
														<button type="button" class="btn btn-info">Agregar</button>

													</div>
												</div>
							  				</div>
										</div>															
									</div>									
								</div>
  						</tab>

  					</tabset>
  					<div class="row">
						<div class="col-lg-offset-10 col-md-offset-10-12 col-xs-offset-12 col-smoffset-12">
							<button type="button" class="btn btn-info">Guardar</button>

						</div>
					</div>
				  </div>	  							  	
			</div>  		
		  </form>		
		</div>		
	</div>	
