<hr>
<div class="margenTop">
<div class="view">
<div class="panel panel-primary drop-shadow" style="width:65%;height:340px;  margin-left:17%; margin-top:10%">
  <div class="panel-heading"><h>{{tiTulo}}</h></div>
  <form method="post" name="myForm"  novalidate>
  <div class="panel-body">
  <div class="row">    
     <div class="col-md-3">
        <label>NÚMERO</label>               
      </div>  
      <div class="col-md-4">
        <label>DESCRIPCIÓN</label>               
      </div>
  </div>  
  <div class="row">           
         <div class="col-md-3">                 
              <input name="name" ng-model="viewDatos[0].CON_NUME" type= "text" class= "form-control" placeholder="Número" autofocus required/>           
         </div>
          <div class="col-md-9">                 
        <input name="name" ng-model="viewDatos[0].CON_DESC" type= "text" class= "form-control" placeholder="Descripción" autofocus required/>        
    </div>
  </div>  

   <div class="row" style="margin-top:15px">  
     <div class="col-md-1">
        <label>TEXTO</label>               
      </div>  
  </div>  
  <div class="row">
      <div class="col-md-12">                 
        <input name="name" ng-model="viewDatos[0].CON_TEXT" type= "text" class= "form-control" placeholder="Texto" autofocus/>        
    </div>
  </div> 
<div class="row" style="margin-top:15px">  
     <div class="col-md-4">
        <label>Fecha Inicio</label>               
      </div>
         <div class="col-md-4">
        <label>Fecha Final</label>               
      </div> 
      <div class="col-md-4">
        <label>Convocatoria</label>               
      </div>   
  </div>  
    <div class="row">
        <div class="col-md-4">
           
        <input type="date" class="form-control" ng-model="viewDatos[0].CON_FECH_INIC" name="date" >
        </div>
          <div class="col-md-4">
           
        <input type="date" class="form-control" ng-model="viewDatos[0].CON_FECH_FINA" name="date">
        </div>
          <div class="col-md-4">                          
          <select class="form-control"  ng-model="viewDatos[0].CON_TIPO_CONV_CODI" 
          ng-options="opt.TCO_CODI as opt.TCO_DESC for opt in datosConvocatoria" required>
          </select>
    </div>         

  </div> 
 
  </div>
</form>
  <div class="row" style="margin-top:5px">
 <div class="col-md-offset-8" >
<div style="margin-right:20px; text-align:right">
        <button  ng-click= "save(viewDatos[0])"  ng-disabled="myForm.$invalid"              
                class="btn btn-primary">{{buttonText}}</button>
              
                

  <button  ng-click= "volver()"               
                class="btn btn-primary">Cancelar</button>
                </div>
</div>                
      
</div>
</div>
<h>{{fechaIni}} {{viewDatos}} {{viewDatos2}} {{SQL}}</h>
</div>

</div>




 
