
<mostrariconoespera></mostrariconoespera>
<div class="panel panel-primary drop-shadow" style="width:65%;height:auto;  margin-left:17%; margin-top:5%">
  <div class="panel-heading"><h>{{tiTulo}}</h></div>
   <tabset active="active">

    <tab  index="0" select="mostrarboton2()">

        <tab-heading>

          <i class="glyphicon glyphicon-info-sign"></i> Información General Convocatoria 

          </tab-heading>  
           <form method="post" name="myForm"  novalidate>
  

                  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
        <div class="form-group">
          <label>NÚMERO</label> 
            <input name="name" ng-model="viewDatos[0].CON_NUME" type= "text" maxlength="6" class= "form-control" placeholder="Número" autofocus required/>  
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <div class="form-group">
          <label>DESCRIPCIÓN</label> 
           <input name="name" ng-model="viewDatos[0].CON_DESC" type= "text" class= "form-control" placeholder="Descripción" autofocus required/>   
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
        <div class="form-group">
          <label>PUNTAJE</label> 
            <input name="name" ng-model="viewDatos[0].CON_PUNT_TOTA" type= "number" class= "form-control" placeholder="Puntaje" autofocus required/>        
        </div>
      </div>
    </div>
    <div class="row">
       <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
        <div class="form-group">
           <label>Fecha Inicio</label>
            <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
               <input type="text" class="form-control" ng-model="viewDatos[0].CON_FECH_INIC" data-date-format="dd-MMMM-yyyy"   data-max-date="{{viewDatos[0].CON_FECH_FINA}}"  data-autoclose="1" name="fechaInicio" bs-datepicker required>
  
            </div>
        </div>
       </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
           <div class="form-group">
               <label>Fecha Final</label>                       
                <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
                    <input type="text"  class="form-control" ng-model="viewDatos[0].CON_FECH_FINA" data-date-format="dd-MMMM-yyyy"  data-min-date="{{viewDatos[0].CON_FECH_INIC}}"  data-autoclose="1"   name="fechaFinal" bs-datepicker required>
                </div>           
          </div>
       </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
          <div class="form-group">
              <label>Tipo Convocatoria</label>  
               <select class="form-control"  ng-model="viewDatos[0].CON_TIPO_CONV_CODI" 
                      ng-options="opt.TCO_CODI as opt.TCO_DESC for opt in tipoConvocatoria" required>
              </select>      
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">   
         <div class="form-group">
            <label>TEXTO</label>    
                <span class="fileinput-button glyphicon glyphicon-upload"  ng-class="{disabled:    disabled}" style="margin-left:20px"><input title="Cargar documento" type="file" name="files" onchange="angular.element(this).scope().uploadFileTexto(this) " accept="application/pdf, application/msword"> 
               </span>    
               <span title="Eliminar documento" ng-click="EliminarTexto()" class="glyphicon glyphicon-remove" style="cursor: pointer;"></span>
               <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                  <a href="http://{{nombreLinkArchivoTexto}}" target="_blank"><span class="label label-danger" style="white-space:normal">{{nombreArchivoTexto}}</span></a>   
                  </div>
               </div>                              
         </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">   
         <div class="form-group">
             <label>Resolución</label>
               <span class="fileinput-button glyphicon glyphicon-upload"  ng-class="{disabled:    disabled}" style="margin-left:20px"><input title="Cargar documento" type="file"  name="files" onchange="angular.element(this).scope().uploadFileResolucion(this) " accept="application/pdf,application/msword"> 
              </span>                
              <span title="Eliminar documento" ng-click="EliminarResolucion()" class="glyphicon glyphicon-remove" style="cursor: pointer;"></span>
              <div class="row">
                 <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <a href="http://{{nombreLinkArchivoResolucion}}" target="_blank"><span class="label label-danger" style="white-space:normal">{{nombreArchivoResolucion}}</span></a>
                 </div>
              </div>                          
         </div>
      </div>            
    </div>
  
    </div>

  
          </form>


    </tab>
     <tab  index="0" select="mostrarboton2()">

        <tab-heading>
            <i class="glyphicon glyphicon glyphicon-check"></i> Valoración de Parámetros
        </tab-heading>

        <div class="container-fluid">
          <div class="row" style="margin-top:10px">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
              <div class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-lg-2">Parámetros:</label>
                <div class="col-lg-8">
                  <select class="form-control input-sm"  ng-model="selParametro" ng-options="item as item.CPA_NOMB for item in  listParametros"></select>  
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Valor:</label>
                <div class="col-lg-8">          
                  <input class="form-control input-sm" type="text" ng-model="valor" style="width:25%"></input>
                </div>
                <div class="col-lg-2">
                   <button  class="btn btn-default input-sm" ng-click="onClicAgregarParametro()"><i class="glyphicon glyphicon-menu-right"></i>Agregar</button>
                </div>
              </div>
             
             
            </div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
               <div class="container">
                  <jqx-panel jqx-settings="settingsPanel">    
                   
                      <ul class="list-group">
                        <li  class="list-group-item" ng-repeat="item in listParametroConvocatoria" >
                          <div class="row">
                            <div class="col-lg-7 col-md-7 col-xs-7 col-sm-7">
                              <span >{{item.CPA_NOMB}}</span>    
                            </div>
                             <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">
                              <span >{{item.Valor}}</span>    
                            </div>
                              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                              <button  title="Eliminar" ng-click="onClicEliminarParametro(this)" class="glyphicon glyphicon-trash"></button>  
                            </div>  
                          </div>                          
                        </li>
                      </ul>          
                  </jqx-panel>
                </div>  
            </div>
          </div>                      
        </div>  
     </tab>   
        <tab  index="0" select="mostrarboton2()">

        <tab-heading>
            <i class="glyphicon glyphicon-user"></i> Asignación de Evaluadores
        </tab-heading>
        <div class="container">
        <div class="row" style="margin-top:10px">
          <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
            <div class="form-group">
              <label>PROPUESTAS</label>
              <select class="form-control input-sm" ng-model="selPropuesta" ng-options="item as item.Nombre for item in listPropuestas" ng-change="onChangePropuesta()">
            </select>
            </div>   

          </div>
        </div>
        <div class="row" style="margin-top:10px">
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div style=" overflow-y:auto;overflow-x:hidden;height:100px; -webkit-box-shadow: 1px 1px 1px 1px #999;
                            -moz-box-shadow: 1px 1px 1px 1px #999;">
              <ul class="list-group">
                   <li class="list-group-item" ng-repeat="item in listInvestigadores">
                      <div class="row">
                          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                              {{item.Investigador}}
                          </div>
                          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                              {{item.Rol}}
                          </div>
                           <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                              {{item.Programa}}
                          </div>
                            <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                              {{item.Escuela}}
                          </div>
                      </div>
                   </li>
              </ul>
            </div>
           </div>
        </div>

        <div class="row" style="margin-top:10px">
          <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
            <div class="form-group">
              <label>EVALUADORES</label>
              <select class="form-control input-sm" ng-model="selEvaluador" ng-options="item as item.Nombre for item in listEvaluadorInvestigador | orderBy:'Nombre'">
            </select>
            </div>   
          </div>
          <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
              <button class="btn btn-info btn-sm" ng-click="onClickAgregarEvaluador()"><i class="glyphicon glyphicon-plus"></i></button>
          </div>
        </div>
        <div class="row" style="margin-top:10px">
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div style=" overflow-y:auto;overflow-x:hidden;height:100px">
              <ul class="list-group">
                   <li class="list-group-item" ng-repeat="item in listEvaluadores">
                      <div class="row">
                          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                              {{item.Nombre}}
                          </div>
                          <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                              {{item.Cargo}}
                          </div>
                          <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                              {{item.Programa}}
                          </div>
                          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                              {{item.Escuela}}
                          </div>
                           <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                             <button class="btn btn-danget btn-sm" ng-click="onClickDeleteEvaluador(this)"><i class="glyphicon glyphicon-trash"></i></button>
                          </div>
                      </div>
                   </li>
              </ul>
            </div>
           </div>
        </div>

        </div>
      </tab>

  </tabset>     
   

<div class="row" style="margin-bottom:10px;margin-left:10px">
       <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">   
             <button  ng-click= "save(viewDatos[0])"  ng-disabled="$$childTail.myForm.$invalid"              
                class="btn btn-primary input-sm">{{buttonText}}</button>
                 <button  ng-click= "volver()"               
                class="btn btn-primary input-sm">Salir</button>
       </div>
       <div class="col-lg-1 col-md-1 col-xs-3 col-sm-3">   
           
                </div>
       </div>

</div>

 


 
