<hr>
<mostrariconoesperapropuesta></mostrariconoesperapropuesta>
<div class="margenTop">
<div class="view">
<div class="panel panel-primary drop-shadow" style="width:65%;height:auto;  margin-left:17%; margin-top:10%">
  <div class="panel-heading"><h>{{tiTulo}}</h></div>
  <form method="post" name="myForm"  novalidate>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">           
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label>NOMBRE</label> 
              <input name="name" ng-model="viewDatos[0].PRO_NOMB" type= "text" class= "form-control input-sm" placeholder="Número" autofocus required/>  
          </div>
        </div>
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label>Convocatoria</label> 
             <select class="form-control input-sm"  ng-model="viewDatos[0].PRO_CONV_CODI" 
              ng-options="opt.CON_CODI as opt.CON_DESC for opt in convocatoria" required>
          </select>  
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="form-group">
             <label>LINK GLAC</label>  
               <input name="name" ng-model="viewDatos[0].PRO_LINK_GLAC" type= "text" class= "form-control input-sm" placeholder="Link GLAC" autofocus required/>    
          </div>          
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="form-group">
            <label>LINK CVLA</label>      
              <input name="name" ng-model="viewDatos[0].PRO_LINK_CVLA" type= "text" class= "form-control input-sm" placeholder="Link CVLA" autofocus required/>       
          </div>          
        </div>
      </div>    
          <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">   
         <div class="form-group">
            <label>Documento del Proyecto</label>    
                <span class="fileinput-button glyphicon glyphicon-file"  ng-class="{disabled:    disabled}" style="margin-left:20px"><input title="Cargar documento" type="file" name="files" onchange="angular.element(this).scope().uploadFileTexto(this) " accept="application/pdf, application/msword"> 
                </span>     
               <span title="Eliminar documento" ng-click="EliminarDocumentoProyecto()" class="glyphicon glyphicon-remove" style="cursor: pointer;"></span>
               <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                  <a href="http://{{nombreLinkDocumentoProyecto}}" target="_blank"><span class="label label-danger" style="white-space:normal">{{nombreDocumentoProyecto}}</span></a>   
                  </div>
               </div>                              
         </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">   
         <div class="form-group">
             <label>Subir Carta Aval</label>
               <span class="fileinput-button glyphicon glyphicon-file"  ng-class="{disabled:    disabled}" style="margin-left:20px"><input title="Cargar documento" type="file"  name="files" onchange="angular.element(this).scope().uploadFileCarta(this) " accept="application/pdf,application/msword"> 
              </span>                
              <span title="Eliminar documento" ng-click="EliminarCartaAval()" class="glyphicon glyphicon-remove" style="cursor: pointer;"></span>
              <div class="row">
                 <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <a href="http://{{nombreLinkCartaAval}}" target="_blank"><span class="label label-danger" style="white-space:normal">{{nombreArchivoCarta}}</span></a>
                 </div>
              </div>                          
         </div>
      </div>            
    </div>
  </div> 
</div>
</form>
  <div class="row" style="margin-top:5px">
 <div class="col-md-offset-8" >
<div style="margin-right:20px; text-align:right">
        <button  ng-click= "save(viewDatos[0])"  ng-disabled="myForm.$invalid"              
                class="btn btn-primary">{{buttonText}}</button>
              
                

  <button  ng-click= "volver()"               
                class="btn btn-primary">Cancelar</button>
                </div>
</div>                
      
</div>
</div>
</div>

</div>




 
