<hr>
<div class="margenTop">
<div class="view">
<div class="panel panel-primary  drop-shadow" style="min-width:auto;max-width:400px;height:auto; margin-top:10%;margin-left:40%">
  <div class="panel-heading"><h>{{tiTulo}}</h></div>
  <form method="post" name="myFormGranArea" role="form" novalidate>
  <div class="container-fluid">
  <div class="panel-body">
  
    <div class="row">          
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       <div class="form-group">
        <label>DESCRIPCIÓN</label>
          <input name="name" ng-model="viewDatos[0].ATR_DESC" type= "text" class= "form-control" placeholder="Descripción atributo" autofocus required/>
       </div>
    </div>    
  </div>        
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button  ng-click= "save(viewDatos[0])"  ng-disabled="myFormGranArea.$invalid"              
                class="btn btn-primary">{{buttonText}}</button>
              
                

  <button  ng-click= "volver()"               
                class="btn btn-primary">Cancelar</button>
    </div>
     
</div>
  </div>

  </div>
    
</form>
  
</div>
</div>
</div>




 
