<hr>
<div class="margenTop">

<div class="view">
   


<div class="panel panel-primary  drop-shadow" style="width:40%;height:180px;  margin-left:27%; margin-top:15%">
  <div class="panel-heading"><h>{{tiTulo}}</h></div>
  <form method="post" name="myFormGranArea"  novalidate>
  <div class="panel-body">
    <div class="row">
    
     <div class="col-md-1">
        <label>NOMBRE</label>               
      </div>  

  </div>  
  <div class="row">
    
       
         <div class="col-md-12">                 
      <input name="name" ng-model="viewDatos[0].GAR_NOMB" type= "text" class= "form-control" placeholder="Gran Área" autofocus required/>
     
      
    </div>
  </div>      
  </div>
</form>
   <div class="row">
 <div class="col-md-offset-7"> 

        <button  ng-click= "save(viewDatos[0])"  ng-disabled="myFormGranArea.$invalid"              
                class="btn btn-primary">{{buttonText}}</button>
              
                

  <button  ng-click= "volver()"               
                class="btn btn-primary">Cancelar</button>
</div>                
      <h>{{viewDatos2}}</h>
</div>
</div>
</div>
</div>


 
