<div class="margenTop">

		<div class="panel panel-primary  drop-shadow container" style="width:60%;height:auto;padding-left:0px;padding-right:0px" >

	  		<div class="panel-heading"><h>CREAR EVALUADOR</h></div>

	  		<form method="post" name="formUsuario" novalidate="">

        		
	  			<div class="panel-body">
	  			
	  			<div class="row">
 					<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
 							<div class="form-group">
								<label>Identificación</label>
								<input type="text" ng-model="dato.USE_IDEN" class="form-control input-sm" required>
							</div>	
  					</div>
  					<div class="col-lg-6 col-md-3 col-xs-12 col-sm-12">
							<label>Usuario</label>
							 <div class="input-group">
							      <input type="text" name="usuario" ng-model="dato.USE_USUA" class="form-control input-sm" required>
							      <span class="input-group-btn">
							        <button title="Resetear la clave" ng-disabled="!dato.USE_USUA" class="btn btn-default input-sm" type="button" ng-click="onClickPassword(dato.USE_USUA)"><i class="glyphicon glyphicon-lock"></i></button>
							      </span>
    						</div>												
						</div>
						
	  			</div>
				<div class="row">
						<div class="col-lg-6 col-md-3 col-xs-12 col-sm-12">
							<div class="form-group">
								<label>Nombre</label>
								<input type="text" ng-model="dato.USE_NOMB" class="form-control input-sm" required>
							</div>	
						</div>
						<div class="col-lg-6 col-md-3 col-xs-12 col-sm-12">
							<div class="form-group">
								<label>Apellido</label>
								<input type="text" ng-model="dato.USE_APEL" class="form-control input-sm" required>
							</div>	
						</div>
					</div>	
					<div class="row">
							<div class="col-lg-6 col-md-3 col-xs-12 col-sm-12">
							<div class="form-group">
								<label>Teléfono</label>
								<input type="text" ng-model="dato.USE_TELE" class="form-control input-sm">
							</div>	
						</div>
						<div class="col-lg-6 col-md-3 col-xs-12 col-sm-12">
							<div class="form-group">
								<label>E-mail</label>
								<input type="email" ng-model="dato.USE_EMAI" class="form-control input-sm" required>
							</div>	
						</div>
					</div>
									
					
					 <div class="row" style="margin-top:20px"> 
				       <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">   
				       		  <div class="btn-group-sm">
				          		<button  ng-click= "save(dato)"  ng-disabled="formUsuario.$invalid"              
				                class="btn btn-primary">Guardar</button>				                
				       		</div>
				        </div>                   
       				</div>	
	  			</div>
	  		
			</form>
		</div>
</div>	