<div class="margenTop">

<div ng-controller="ListControllerInvestigador as list2">
      
 <my-modalinvestigador></my-modalinvestigador> 
  <div ng-controller="ControladorInvestigador">
    <div id="custom-toolbarinvestigador">
     <div class="form-inline" role="form">    
        <a ng-click="list2.btnNovoClick()" target="_self" class="btn btn-default btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Nuevo</a>
     </div>
    </div>
   <table id="tableinvestigador" init-tablainvestigador="options" >
   </table>
  </div>
 </div>

</div>

