 <nav class="navbar navbar-default">
  <div class="container">
 <ul class="nav navbar-nav navbar-right">       
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> Usuario <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li style="cursor:pointer"><a ng-click="onClicPerfil()"><i class="glyphicon glyphicon-eye-open"></i> Ver Perfil</a></li>
            <li style="cursor:pointer"><a ng-click="onClicCambioClave()"><i class="glyphicon glyphicon-lock"></i> Cambio de clave</a></li>           
          </ul>
        </li>
      </ul>
 </div>
</nav>
<div>
	<div ng-style="divContainer">
		<div ng-style="divPadre">
			<div ng-style="estiloDiv">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<button type="button" ng-click="onClicAdministrador()" class="btn btn-primary"><img src="images/admin.png" alt="Paris" style="width:80px;height:80px"></button>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<span style="font-family: 'Oswald', sans-serif;font-size:20px" >ADMINISTRADOR</span>
						</div>
					</div>
					
				</div>
				<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<button type="button" ng-click="onClicInvestigador()" class="btn btn-primary"><img src="images/investigador.png" alt="Paris" style="width:80px;height:80px"></button>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<span style="font-family: 'Oswald', sans-serif;;font-size:20px" >INVESTIGADOR</span>
						</div>
					</div>
					
				</div>
			</div>
			<div class="row" style="margin-top:20px;">
				<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<button type="button" ng-click="onClicGrupo()" class="btn btn-primary"><img src="images/grupo.png" alt="Paris" style="width:80px;height:80px"></button>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<span style="font-family: 'Oswald', sans-serif;;font-size:20px" >GRUPOS</span>
						</div>
					</div>
					
				</div>
				<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<button type="button" class="btn btn-primary" ng-click="onClicConvocatoria()"><img src="images/convocatoria.png" alt="Paris" style="width:80px;height:80px"></button>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<span style="font-family: 'Oswald', sans-serif;;font-size:20px" >CONVOCATORIAS</span>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="row" style="margin-top:10px">
				<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<button type="button" class="btn btn-primary" ng-click="onClicPropuesta()"><img src="images/propuesta.png" alt="Paris" style="width:80px;height:80px"></button>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<span style="font-family: 'Oswald', sans-serif;;font-size:20px" >PROPUESTA</span>
						</div>
					</div>
					
				</div>
				<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<button type="button" class="btn btn-primary" ng-click="onClicSemillero()"><img src="images/semillero.png" alt="Paris" style="width:80px;height:80px"></button>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<span style="font-family: 'Oswald', sans-serif;;font-size:20px" >SEMILLEROS</span>
						</div>
					</div>
					
				</div>
			</div>
			</div>
		</div>
	</div>

</div>