<div class="container" style="margin-top:10%">
			<div class="row">
				
				<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12" style="text-align:center">

					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<button type="button" ng-click="onClicInvestigador()" class="btn btn-primary"><img src="images/curriculum.png" alt="Paris" style="width:80px;height:80px"></button>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<span style="font-family: 'Oswald', sans-serif;font-size:20px">INVESTIGADORES</span>
						</div>
					</div>
					
				</div>
				<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12" style="text-align:center">

					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<button type="button" ng-click="onClicConvocatoria()" class="btn btn-primary"><img src="images/convocatoriainfo.png" alt="Paris" style="width:80px;height:80px"></button>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<span style="font-family: 'Oswald', sans-serif;font-size:20px">CONVOCATORIAS</span>
						</div>
					</div>
					
				</div>
				<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12" style="text-align:center">

					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<button type="button" ng-click="onClicGrupo()" class="btn btn-primary"><img src="images/folder.png" alt="Paris" style="width:80px;height:80px"></button>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<span style="font-family: 'Oswald', sans-serif;font-size:20px">GRUPOS</span>
						</div>
					</div>
					
				</div>
				<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12" style="text-align:center">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<button type="button" ng-click="onClicSemillero()" class="btn btn-primary"><img src="images/semilleros.png" alt="Paris" style="width:80px;height:80px"></button>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<span style="font-family: 'Oswald', sans-serif;;font-size:20px">SEMILLEROS</span>
						</div>
					</div>
					
				</div>				
			</div>			
			<div class="row">
					<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="margin-top:100px;text-align:center">
					
					<button class="btn btn-danger btn-sm"  title="Salir" ng-click="onClicSalir()"><i class="glyphicon glyphicon-log-out"> SALIR</i></button>
					
				</div>
			</div>
</div>