<div class="container" style="margin-top:10%">
			<div class="row">
				
				<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12" style="text-align:center">

					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<button type="button" ng-click="onClicUsuario()" class="btn btn-primary"><img src="images/admin.png" alt="Paris" style="width:80px;height:80px"></button>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<span style="font-family: 'Oswald', sans-serif;font-size:20px">ADMINISTRACIÓN DE <br> USUARIOS</span>
						</div>
					</div>
					
				</div>
				<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12" style="text-align:center">

					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<button type="button" ng-click="onClicAvalGrupoSemillero()" class="btn btn-primary"><img src="images/checkbox.png" alt="Paris" style="width:80px;height:80px"></button>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<span style="font-family: 'Oswald', sans-serif;font-size:20px">AVALES GRUPOS Y <br>SEMILLEROS</span>
						</div>
					</div>
					
				</div>
				<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12" style="text-align:center">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<button type="button" ng-click="onClicGestionBaseDatos()" class="btn btn-primary"><img src="images/database.png" alt="Paris" style="width:80px;height:80px"></button>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<span style="font-family: 'Oswald', sans-serif;;font-size:20px" >GESTIÓN BASE DATOS</span>
						</div>
					</div>
					
				</div>
				<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12" style="text-align:center">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<button type="button" ng-click="onClicEvaluacionPropuesta()" class="btn btn-default"><img src="images/report.png" alt="Paris" style="width:80px;height:80px"></button>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<span style="font-family: 'Oswald', sans-serif;;font-size:20px">GENERADOR REPORTES</span>
						</div>
					</div>
					
				</div>
			</div>			
			<div class="row">
					<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="margin-top:100px;text-align:center">
					
					<button class="btn btn-danger btn-sm"  title="Salir" ng-click="onClicSalir()"><i class="glyphicon glyphicon-log-out"> SALIR</i></button>
					
				</div>
			</div>
</div>