
<div class="margenTop">

<div ng-controller="ListControllerparametroevaluacion as list">
      
 <my-modalparametroevaluacion></my-modalparametroevaluacion> 
  <div ng-controller="Controladorparametroevaluacion as ctrl">
    <div id="custom-toolbaparametroevaluacion">
     <div class="form-inline" role="form">    
        <a ng-click="list.btnNovoClick()" target="_self" class="btn btn-default btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Nuevo</a>
     </div>
    </div>
   <table id="tableparametroevaluacion" init-tablaatributo="options" >
   </table>
  </div>
 </div>
</div>