<div class="margenTop">

<div ng-controller="ListControllerpropuesta as list">
      
 <my-modalpropuesta></my-modalpropuesta> 
  <div ng-controller="ControladorPropuesta as ctrl">
    <div id="custom-toolbarpropuesta">
     <div class="form-inline" role="form">    
      <a ng-click="onClicSalir()" target="_self" class="btn btn-default btn-danger btn-sm"><span class="glyphicon glyphicon-log-out"></span> Salir</a>
        <a ng-click="list.btnNovoClick()" target="_self" class="btn btn-default btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Nueva</a>
     </div>
    </div>
   <table id="tablepropuesta" init-tablapropuesta="options" >
   </table>
  </div>
 </div>
</div>