<div class="margenTop">
	
	<div class="row" style="margin-left:0px">				
		<div class="col-md-3 col-lg-3 col-xs-3">
			<h5>PROPUESTA</h5>
		</div>		
		<div class="col-md-3 col-lg-3 col-xs-3">
			<h5>CONVOCATORIA</h5>
		</div>
		<div class="col-md-3 col-lg-3 col-xs-3">
			<h5>ATRIBUTO</h5>
		</div>				
		<div class="col-md-3 col-lg-3 col-xs-3">
			<h5>JUEZ</h5>
		</div>			
	</div>

	<div class="row">
		<div class="col-md-3 col-lg-3 col-xs-3">
			<select class="form-control"  ng-model="selPropuesta" 
          ng-options="propuesta as propuesta.PRO_NOMB for propuesta in listPropuesta" required>
          </select>
		</div>
		<div class="col-md-3 col-lg-3 col-xs-3">
			<select class="form-control"  ng-model="selConvocatoria" 
          ng-options="convocatoria as convocatoria.CON_DESC for convocatoria in listConvocatoria" required>
          </select>
		</div>
		<div class="col-md-3 col-lg-3 col-xs-3">
			<select class="form-control"  ng-model="selAtributo" 
          ng-options="atributo as atributo.ATR_NOMB for atributo in listAtributo" required>
          </select>
		</div>

		<div class="col-md-3 col-lg-3 col-xs-3">
			<select class="form-control"  ng-model="selJuez" 
          ng-options="persona as persona.PER_NOMB for persona in listPersona" required>
          </select>
  			</div>
		</div>
	</div>	
	<div class="row" style="margin-top:20px">
		<div class="col-md-2 col-lg-2 col-xs-2">
			<button type="button" class="btn btn-primary" ng-click="onClicAgregar(selPropuesta,selConvocatoria,selAtributo,selJuez)">Agregar</button>
		</div>
	</div>		
		
	<my-modaleliminarpropuestaconvocatoriaatributojuez></my-modaleliminarpropuestaconvocatoriaatributojuez>
	<div class="row" style="margin-top:20px">
		<div class="col-md-12 col-lg-12 col-xs-12">           
		   <jqx-panel jqx-settings="settingsPanel">		     
		     <ul ng-repeat="propuestaConvocatoriaAtributoJuez in listPropuestaConvocatoriaAtributoJuez" class="list-group">		
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-3 col-lg-3 col-xs-3">
						<label style="color:blue;font-size: 13px;font-weight: 100">Propuesta</label>
					</div>
					<div class="col-md-3 col-lg-3 col-xs-3">
						<label style="color:blue;font-size: 13px;font-weight: 100">Convocatoria</label>
					</div>
					<div class="col-md-2 col-lg-2 col-xs-2">
						<label style="color:blue;font-size: 13px;font-weight: 100">Atributo</label>
					</div>
					<div class="col-md-3 col-lg-3 col-xs-3">
						<label style="color:blue;font-size: 13px;font-weight: 100">Juez</label>
					</div>
					<div class="col-md-1 col-lg-1 col-xs-1">
						<label style="color:red;font-size: 13px;font-weight: 300">Eliminar</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-lg-3 col-xs-3">
						<label style="font-size: 13px;font-weight: 100">{{propuestaConvocatoriaAtributoJuez.PRO_NOMB}}</label>
					</div>
					<div class="col-md-3 col-lg-3 col-xs-3">
						<label style="font-size: 13px;font-weight: 100">{{propuestaConvocatoriaAtributoJuez.CON_DESC}}</label>
					</div>
					<div class="col-md-2 col-lg-2 col-xs-2">
						<label style="font-size: 12px;font-weight: 100">{{propuestaConvocatoriaAtributoJuez.ATR_DESC}}</label>
					</div>		
					<div class="col-md-3 col-lg-3 col-xs-3">
						<label style="font-size: 12px;font-weight: 100">{{propuestaConvocatoriaAtributoJuez.INV_NOMB}}</label>
					</div>			
					<div class="col-md-1 col-lg-1 col-xs-1">
						<jqx-button   ng-click="onClicEliminar(propuestaConvocatoriaAtributoJuez,this)">  <i class="glyphicon glyphicon-ban-circle" style="cursor:pointer"  ></i> </jqx-button>
					</div>
				</div>	

			</li>			     	     
	     </ul>		   
	</jqx-panel>
	</div>
	</div>
	<div class="row" style="margin-top: 10px">
		<div class="col-md-offset-11 col-lg-offset-11 col-xs-offset-11">
				<button type="button" class="btn btn-success" ng-click="onClicGuardar()">Guadar</button>
					</div>
    	</div>		

</div>