
<hr>

<div class="margenTop">

  <nav class= "navbar navbar-default" role= "navigation" >
 <div class= "navbar-header" >      
<a class="btn btn-lg btn-success" href="#/edit-sgiTipoConv/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Nuevo</a>
 </div>
 </nav>
 </div>
  <div class="panel-body">

  <table id="tableSgiTipoConv">
   
  </table>

 
  </div>




<!-- start: Delete Coupon Modal -->


<div class="modal fade" id="myModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h3 class="modal-title" id="myModalLabel">Advertencia!</h3>
            </div>
            <div class="modal-body">
                 <h4> Desea Borrar el actual registro?</h4>
                  <div><label id="nombreTipoConv"></label>
            </div>
            <!--/modal-body-collapse -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYes" href="#">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"  >No</button>
            </div>
            <!--/modal-footer-collapse -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</div>

 <script>
    function operateFormatter(value, row, index) {
        return [
            
            '<a class="edit ml10" href="#/edit-sgiTipoConv/'+ row.TCO_CODI + '" title="Editar">',
                '<i class="glyphicon glyphicon-edit"></i>',
            '</a> &nbsp' ,
            '<a class="remove ml10" href="javascript:void(0)" title="Eliminar">',
                '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    }

    window.operateEvents = {
        
        // 'click .edit': function (e, value, row, index) {
        //     alert('You click edit icon, row: ' + JSON.stringify(row));
        //     console.log(value, row, index);
        // },
         'click .remove': function (e, value, row, index) {
          $('#nombreTipoConv').text(row.TCO_DESC);
        $('#myModal').data('id', row.TCO_CODI).modal('show');

    }
       };

    $(function () {        

             $('#tableSgiTipoConv').bootstrapTable({
                method: 'post',
                url: 'scripts/services/api.php?url=executeSQL/S/SELECT TCO_CODI,TCO_DESC FROM SGI_TIPO_CONV ORDER BY TCO_CODI ASC',
                cache: false,
                height: 400,
                striped: true,
                pagination: true,
                pageSize: 50,
                pageList: [10, 25, 50, 100, 200],
                search: true,
                showColumns: true,
                showRefresh: true,
                minimumCountColumns: 1,
                
                columns: [{
                    field: 'TCO_CODI',
                    title: 'Código',
                    align: 'left',
                    valign: 'bottom',
                    sortable: true,
                    clickToSelect: false,
                    visible: false
                }, {
                    field: 'TCO_DESC',
                    title: 'Número Convocatoria',
                    align: 'left',
                    valign: 'middle',
                    sortable: true,
                     clickToSelect: true
                },{                   
                    title: '',
                    align: 'center',
                    valign: 'middle',
                    switchable:false,
                    clickToSelect: true,
                    formatter: operateFormatter,
                    events: operateEvents
                }]
            });  

   
    });

   $('#btnYes').click(function() {
      var Codigo = $('#myModal').data('id');
      // $('[data-id='+id+']').parents('tr').remove();
        
 //sending to php the row to be deleted from the db
 $.ajax({
  url: 'scripts/services/api.php?url=executeSQL/D/DELETE FROM SGI_TIPO_CONV WHERE TCO_CODI = '+ Codigo,
  data: {
      id : Codigo
  },
  type: 'POST',
  dataType : 'json',
  
  success: function(datos){
       // alert(JSON.stringify(datos)['msg']);
 //removing entire row
      
        $('#tableSgiTipoConv').bootstrapTable('remove', {
                    field: 'TCO_CODI',
                    values: Codigo
                });
       $('#myModal').modal('hide');
     },
      error: function (data, textStatus, jqXHR) {
             // error handler
            alert(JSON.stringify(data));
         }       
 });
return false;
});

</script>