<div class="margenTop">

<div ng-controller="ListControllerUsuario as list">

      

 <my-modalusuario></my-modalusuario> 

  <div ng-controller="ControladorUsuario as ctrl">

    <div id="custom-toolbarusuario">

     <div class="form-inline" role="form">    

        <a ng-click="onClicSalir()" target="_self" class="btn btn-default btn-danger btn-sm"><span class="glyphicon glyphicon-log-out"></span> Salir</a>
        <a ng-click="list.btnNovoClick()" target="_self" class="btn btn-default btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Nuevo</a>


     </div>

    </div>	
   <table id="tableusuario" init-tablausuario="options" >

   </table>

  </div>

 </div>
</div>