<div class="margenTop">

<div ng-controller="ListControllerUsuario as list">

      

 <my-modalusuario></my-modalusuario> 

  <div ng-controller="ControladorUsuario as ctrl">

    <div id="custom-toolbarusuario">

     <div class="form-inline" role="form">    

        <a ng-click="list.btnNovoClick()" target="_self" class="btn btn-default btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Nuevo</a>

     </div>

    </div>
	<div class="row">
		<div class="col-lg-offset-11 col-md-offset-11 col-xs-offset-10 col-sm-offset-10">
			<button type="button" class="btn btn-danger" ng-click="onClicSalir()">SALIR</button>
		</div>
	</div>

   <table id="tableusuario" init-tablagrupo="options" >

   </table>

  </div>

 </div>
</div>